.container
  .wrapper
    = form_for(User.new, url: new_session_api_v1_doc_index_path, method: :post, html: {class: 'form-signin'}) do |f|
      %h3.form-signin-heading Welcome Back! Please Sign In
      %hr.colorgraph
      = render 'api/v1/doc/default_bootstrap_notifications', locals: {flash: flash}

      %br
        = f.email_field :email, class: 'form-control', placeholder: 'Email'
        = f.password_field :password, class: 'form-control', placeholder: 'Password'

        %button.btn.btn-primary.btn-lg.btn-block
          Sign In